.sidebar {
  position: absolute;
  left: 0;
  top: 0;
  width: 18.75rem;
  height: 100vh;
  background: $primary-blue;
  white-space: nowrap;
  transition: all 0.2s ease-in-out;

  .sidebar-container {
    width: 100%;
    height: auto;
    padding: 1rem 1.2rem;

    .brand {
      text-align: left;
      padding: 0.5rem 1rem;
      margin-bottom: 3rem;

      .logo {
        @include fontSubTitle($primary-white);

        &.active {
          span {
            display: none;
          }
        }
      }
    }

    .nav-list {
      @include flexColCenter(flex-start, center);

      .nav-item {
        width: 100%;
        @include flexRowCenter(center, flex-start);
        padding: 0.5rem 1rem;
        height: 2.5rem;
        border-top-left-radius: 1rem;
        border-bottom-left-radius: 1rem;
        margin-bottom: 1rem;
        position: relative;
        @include fontDetails($primary-white, $fontBold);

        span {
          display: inline-block;
          margin-left: 1rem;

          &.active {
            display: none;
          }
        }

        &.active {
          background: $primary-white;
          color: $primary-dark;
          border-radius: 100vh;
        }
      }
    }
  }
  &.active {
    width: 5.75rem;

    .nav-list {
      .nav-item {
        span {
          display: none;
        }
      }
    }
  }
}
