// Media Queries
@mixin breakPoint($breakPoint) {
  @if map-has-key($breakPoints, $breakPoint) {
    @media #{inspect(map-get($breakPoints, $breakPoint))} {
      @content;
    }
  }
}

// Fonts

// Header Fonts

@mixin fontTitle($fontColor) {
  font-size: $mainTitle;
  font-weight: $fontBolder;
  color: $fontColor;
  margin-bottom: 2rem;
}
@mixin fontSubTitle($fontColor) {
  font-size: $subTitle;
  font-weight: $fontBold;
  color: $fontColor;
  margin-bottom: 1.5rem;
}
// Body Fonts
@mixin fontDetails($fontColor, $fontWeight) {
  font-size: $bodyDetails;
  font-weight: $fontWeight;
  color: $fontColor;
  margin-bottom: 1rem;
}
@mixin fontBtn($fontColor) {
  font-size: $allBtn;
  font-weight: $fontNormal;
  color: $fontColor;
}
// Display Flex
@mixin flexRowCenter($alignItem, $justifyContent) {
  display: flex;
  flex-direction: row;
  align-items: $alignItem;
  justify-content: $justifyContent;
}
@mixin flexColCenter($alignItem, $justifyContent) {
  display: flex;
  flex-direction: column;
  align-items: $alignItem;
  justify-content: $justifyContent;
}

// Btn Colored

@mixin btnStyle($btnBackground) {
  font-size: clamp(1rem, 1.2vw, 1.5rem);
  font-weight: $fontNormal;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  color: $primary-white;
  background-color: $btnBackground;
}
