// Media Queries
@mixin breakPoint($breakPoint) {
  @if map-has-key($breakPoints, $breakPoint) {
    @media #{inspect(map-get($breakPoints, $breakPoint))} {
      @content;
    }
  }
}

// Fonts

// Header

@mixin fontTitle($fontColor) {
  font-size: $mainTitle;
  font-weight: $fontBolder;
  color: $fontColor;
  margin-bottom: 2rem;
}
@mixin fontSubTitle($fontColor) {
  font-size: $subTitle;
  font-weight: $fontBold;
  color: $fontColor;
  margin-bottom: 1.5rem;
}
@mixin fontDetails($fontColor, $fontWeight) {
  font-size: $bodyDetails;
  font-weight: $fontWeight;
  color: $fontColor;
  margin-bottom: 1rem;
}
@mixin fontBtn($fontColor) {
  font-size: $allBtn;
  font-weight: $fontNormal;
  color: $fontColor;
}

@mixin flexRowCenter($alignItem, $justifyContent) {
  display: flex;
  flex-direction: row;
  align-items: $alignItem;
  justify-content: $justifyContent;
}
@mixin flexColCenter($alignItem, $justifyContent) {
  display: flex;
  flex-direction: column;
  align-items: $alignItem;
  justify-content: $justifyContent;
}
